* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';

}




#main {
  overflow-y:auto;
  height: calc(100vh - 90px);
}


/* NAV */

.nav {
  position: fixed;
  background: #000;
  width: 230px;
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
}

.logo {
  padding: 20px;
}

.logo-small {
  display: none;
}

.logo img {
  width: 70%;
}

.main-nav {
  font-size: 13px;
}

.main-nav img {
  height: 26px;
  opacity: 0.8;
  vertical-align: middle;
}

.main-nav li {
  padding-top: 10px;
  padding-left: 20px;
}

.main-nav li:first-child a {
  color: #fff;
  vertical-align: middle;
}

.main-nav li:first-child {
  border-left: 3px solid #adff2f;
  padding-left: 16px;
}

.main-nav li a:hover {
  color: #fff;
}

.playlist-nav {
  padding: 20px;
  height: 700px;
  overflow-y:auto ;
}

.playlist-nav h2 {
  color: #fff;
  font-size: 14px;
}

.crea-playlist {
  margin-top: 10px;
}

.crea-playlist #plus:hover {
  background: #fff;
  cursor: pointer;
}

.crea-playlist #crea:hover {
  color: #fff;
  cursor: pointer;
}

.playlist-nav #crea {
  color: #fff;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
}

.playlist-nav #plus {
  font-size: 35px;
  padding: 0 10px;
  margin-right: 10px;
  color: #000;
  background-color: rgba(255, 255, 255, 0.6);
  vertical-align: middle;
}

.playlist-nav li {
  font-size:13px;
  padding-top: 17px;
}

.playlist-nav li a:hover {
  color: #fff;
}

.nav-bottom {
  margin: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 177px;;

}

.nav-bottom a:hover {
  color: #fff;
}

.nav-bottom img {
  width: 15px;
  vertical-align: middle;
}

.download-app {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);;
}

.download-app a {
  font-size: 13px;
  padding-left: 4px;
}

.user {
  font-size:15px;
  font-weight: 600;
  padding-top: 10px;
}

.user span {
  padding-left: 4px;
}

/* PARTE CENTRALE */

#main-view {
  margin-left: 230px;
}


/* barra superiore fissa */

#upgrade {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 230px);
  height: 90px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
}

#upgrade a {
  padding: 14px;
  width: 205px;
  height: 42px;
  font-size:12px;
  line-height: 10px;
  border: 1px solid #fff;
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

#upgrade a:hover {
  transform: scale(1.06);
}

/* centrale scorrevole */

#main-content {
  padding-top: 100px;
  display: flex;
  z-index: 999;
  background-color: #141922;
  padding-bottom: 100px;
}

.menu-main .lista-cover {
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
}

.lista-cover .active {
  margin: 3px auto 0;
  width: 34%;
  border-bottom: 2px solid #adff2f;
}

.lista-cover li a:hover {
  color: #fff;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}

.menu-main li{
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.recently-played, .creatoper, .popolari {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.cover {
  flex-basis: calc(100% / 6 - 15px);
  text-align: center;
  color: #fff;
  margin-right: 15px;
}

.cover img {
  max-width: 100%;
}

.cover h3 {
  padding:10px 0;
  font-size:16px;
}

.cover p {
  font-size:12px;
  opacity: 0.4;
}

.cover-wrap {
  position:relative;
}

.cover-wrap i {
  font-size:60px;
  line-height: 257px;
}

.cover-wrap:hover .overlay {
  display: block;
}

.popolari .cover-wrap:hover .overlay {
  border-radius: 100%;
}

.overlay {
  display: none;
  top:0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.creatoper p, .popolari p {
  margin-top: -10px;
  font-size: 12px;
  opacity: 0.4;
}

.popolari .cover img {
  border-radius: 100%;
}

/* player basso fisso */
#player {
  bottom: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  background: #282828;
}


.player-left {
  display: flex;
  flex-direction: row;
  width: 254px;
}

.dati-traccia {
  display: flex;
  flex-direction: column;
  justify-content:center;
  padding-left: 10px;
}

.dati-traccia #artist {
  font-size: 12px;
  color: #fff;
  font-weight: 600;
}

.dati-traccia #artist {
  font-size: 12px;
  color: #fff;
  font-weight: 600;
}

.dati-traccia #artist:hover {
  text-decoration: underline;
}

.dati-traccia #track-name:hover {
  text-decoration: underline;
  color: #fff;
}

.dati-traccia #track-name {
  font-size:11px;
}

.player-icon {
  display: flex;
  justify-content:center;
  align-items:center;
  margin-left:25px;
}

.player-icon a {
  margin-left:15px;
}

.player-icon a i:hover {
  color: #fff;
}

.cover-player {
  display: flex;
  flex-direction: column;
  justify-content:center;
  margin-left:13px;
  width: 43px;
}

.player-left img {
  width: 100%;
}

.player-central {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
  height: 100%;
}

.player-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 17px;

}

.player-icons i {
  padding: 10px 13px;
}

.player-icons i:nth-child(3) {
  font-size: 30px;
}

.player-icons i:nth-child(3):hover {
  transform: scale(1.06);
}

.player-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom:20px;
}

.actual-time, .total-time {
  font-size: 12px;
  color: #fff;
}

.progress-bar {
  width: 80%;
  height: 4px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.actual-progress {
  position: relative;
  width: 50%;
  height: 4px;
  border-radius: 4px;
  background-color: #fff;
  opacity: 0.7;
}

.progress-bar:hover .actual-progress, .volume-bar:hover .actual-progress {
  background-color: #adff2f;
  opacity: 1;
}

.point {
  display: none;
  position: absolute;
  bottom:-5px;
  right: 0;
  width: 13px;
  height: 13px;
  background-color: #fff;
  border-radius: 100%;
}

.progress-bar:hover .point,
.volume-bar:hover .point {
  display: inline-block;
}

.player-right {
  display: flex;
  width: 240px;
  height: 100%;
  padding: 10px;
}

.player-options {
  color: #fff;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options-icon {
  display: flex;
  flex-basis: 50%;
  justify-content: space-around;
}

.volume-bar {
  position: relative;
  width: 50%;
  height: 4px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.boxfiltro {
  margin-bottom: 20px;
  flex: 0 0 100%;
  color: #fff;
}

@media screen and (max-width: 1100px) {
  .cover {
    flex-basis: calc(100% / 4 - 15px);
  }
}

@media screen and (max-width: 700px) {
  .cover {
    flex-basis: calc(100% / 2 - 15px);
  }
}

@media screen and (max-width: 600px) {
 .nav {
   width: 50px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }


 #main-view {
    margin-left: 50px;
  }

  #upgrade {
  width: calc(100% - 50px);
  }

  .logo {
    display: none;
  }

  .logo-small {
    display: inline-block;
  }

 .main-nav {
    padding: 9px 13px;
    font-size: 13px;
}

 .main-nav li {
    padding-top: 10px;
    padding-left: 0;
}

 .main-nav li:first-child {
   border-left: 0;
   padding-left: 0px;
}

  .main-nav li a {
    display: none;
  }

  .playlist-nav {
    display: none;
  }

  .download-app {
    border-bottom: 0;
  }

  .download-app a {
    display: none;
 }

 .player-left {
   flex-direction: column;
   align-items:center;
   width: 170px;
 }

 .cover-player {
   margin-left: 10px;
 }

 .dati-traccia {
   text-align: center;
 }

 .player-right {
   width: 115px;
 }

 .player-icon {
   width: 7%;
   display: flex;
   margin-right: 35px;
 }

 .player-options {
   flex-direction: column;
   justify-content: center;
 }

 .player-icons {
   font-size: 13px;
 }

 .player-icons i:nth-child(3) {
  font-size: 25px;
}
 .options-icon {
   margin-bottom: 3px;
   width: 80px;
   font-size: 14px;
 }

 .user span {
    display: none;
 }
}
