* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat'
}


/* NAV */

.nav {
  top:0;
  position: fixed;
  display: flex;
  background: #000;
  width: 230px;
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;

}

.logo {
  padding: 20px;
}

.logo img {
  width: 70%;
}

.main-nav {
  padding: 20px;
}

.main-nav img {
  height: 26px;
  vertical-align: middle;
}

.playlist-nav h2 {
  color: #fff;
  font-size: 14px;
}

.playlist-nav span {
  color: #fff;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
}





.nav-bottom {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.nav-bottom img {
  width: 15px;
}

.nav-bottom {
  padding: 10px 10px;;
}

/* PARTE CENTRALE */

#main-view {
  margin-left: 230px;
  /* width: calc(100% - 230px) */
}

/* barra superiore fissa */

#upgrade {
  top:0;
  position: fixed;
  display: flex;
  text-align: right;
  width: calc(100vw - 230px);
  height: 90px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
}

/* centrale scorrevole */

#main-content {
  padding-top: 100px;
  display: flex;
  /* height: 100vh; */
  z-index: 999;
  background-color: #141922;
  padding-bottom: 400px;
}

.menu-main ul {
  text-align: center;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}

.menu-main li{
  display: inline-block;
  margin: 10px;
  text-align: center;
}

.recently-played, .creatoper, .popolari {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

.cover {
  flex-basis: calc(100% / 6 - 15px);
  text-align: center;
  color: #fff;
  margin-right: 15px;
}

.cover img {
  max-width: 100%;
}

/* player basso fisso */
#player {
  bottom: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 90px;
  background: #282828;
  z-index: 5;
}


.player-left {
  display: flex;
  flex-direction: row;
}

.dati-traccia {
  display: flex;
  flex-direction: column;
  justify-content:center;
}

.player-icon {
  display: flex;
  justify-content:center;
  align-items:center;
}



.cover-player {
  width: 20%;
}

.player-left img {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.boxfiltro {
  flex: 0 0 100%;
  color: #fff;
}
