body {
  background-color: #000;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 1000px;
}


.faces {
  width: 74%;
  height: 800px;
  overflow-y: auto;
}

.griglia {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}


.griglia .webcam {
  flex-basis: 200px;
  border: 2px solid black;
  border-bottom: none;
}

.webcam img {
  width: 100%;
}

.barra-top {
  top:0;
  left:0;
  position: fixed;
  height: 20px;
  width: 100%;
  background-color: grey;
}

.barra-bottom {
  bottom:0;
  left:0;
  position: fixed;
  height: 70px;
  width: 100%;
  background-color: grey;
}
